In [1]:
import pandas as pd
import numpy as np

In [2]:
data_filter = pd.read_excel('PLIC_v1-4_plaque_filtered.xlsx')

In [3]:
data_filter.shape

(947, 481)

Delete columns containing either 60% or more than 60% NaN Values:

In [4]:
perc = 60.0
min_count =  int(((100-perc)/100)*data_filter.shape[0] + 1)
df = data_filter.dropna( axis=1, 
                thresh=min_count)

In [5]:
df.shape

(947, 420)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947 entries, 0 to 946
Columns: 421 entries, cod_pz to target_1
dtypes: datetime64[ns](9), float64(162), int64(224), object(26)
memory usage: 3.0+ MB

In [15]:
df.describe()

,cod_pz,ana_fis:menarca_1,ana_fis:menarca_2,ana_fis:menarca_3,ana_fis:menarca_4,ana_fis:gravidanze_n_1,ana_fis:gravidanze_n_2,ana_fis:gravidanze_n_3,ana_fis:gravidanze_n_4,ana_fis:aborto_n_4,...,ana_pat:evento_tot,ana_pat:placca_evento_tot,auc:score,auc_tot:score,auc:waist,auc:whr,auc:bmi,auc:glucose,auc:ldl,target_1
count,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,...,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000
mean,1113.632524,7.913411,7.913411,7.913411,7.914467,1.030623,1.038015,1.057022,1.080253,0.100317,...,0.054910,0.427666,0.405141,2.363691,73.180272,0.436115,24.873138,86.756607,133.649913,4.136814
std,610.159093,6.197669,6.197669,6.197669,6.198451,1.182193,1.181531,1.179870,1.182099,0.433129,...,0.227925,0.495002,1.352574,2.579272,35.935901,0.415326,7.554899,22.089931,42.127777,4.287978
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-12.753298,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000835
25%,610.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.009349,0.511354,73.862449,0.000000,23.178018,84.290754,117.685296,1.252184
50%,1135.000000,11.000000,11.000000,11.000000,11.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.295843,1.537117,86.168947,0.747172,26.061640,90.206083,138.703478,2.964385
75%,1639.500000,13.000000,13.000000,13.000000,13.000000,2.000000,2.000000,2.000000,2.000000,0.000000,...,0.000000,1.000000,0.839176,3.436944,95.303329,0.827835,28.702522,96.507466,158.452494,5.541397
max,2141.000000,18.000000,18.000000,18.000000,18.000000,8.000000,8.000000,8.000000,8.000000,5.000000,...,1.000000,1.000000,9.395533,18.165808,133.757447,1.345491,45.543680,129.623909,371.211924,44.059524

Replace the remained Nan with the median:

In [6]:
df=df.fillna(df.median())

In [30]:
df.isnull().sum() #ok

cod_pz                                0
visite_effettuate                     0
visite_effettuate_standardizzate_a    0
visit:data_visita_1                   0
visit:data_visita_2                   0
                                     ..
auc:waist                             0
auc:whr                               0
auc:bmi                               0
auc:glucose                           0
auc:ldl                               0
Length: 420, dtype: int64

Nans are still present in categorical variables. Check the variables we will use  in the nexts tasks ,only variables regarding the first visit are used as predictors

In [23]:
print(df['ana_pat:dislipidemia_self_1'].value_counts())
print(df['ana_pat:dislipidemia_self_1'].isnull().values.any())

iperCT    444
no        381
mista      93
iperTG     18
Name: ana_pat:dislipidemia_self_1, dtype: int64
True

In [24]:
print(df['ana:istruzione_1'].value_counts())
print(df['ana:istruzione_1'].isnull().values.any())

superiori     367
media         317
elementare    193
laurea         68
NR              2
Name: ana:istruzione_1, dtype: int64
False

In [25]:
print(df['ana_pat:tiroide_funzionalità_1'].value_counts())
print(df['ana_pat:tiroide_funzionalità_1'].isnull().values.any())

eutiroidismo      899
ipotiroidismo      33
NR                  8
ipertiroidismo      7
Name: ana_pat:tiroide_funzionalità_1, dtype: int64
False

Substitute Nans with "NR":

In [26]:
df['ana_pat:dislipidemia_self_1'] =df['ana_pat:dislipidemia_self_1'] .fillna("NR")

In [27]:
df['ana:istruzione_1']= df['ana:istruzione_1'].replace({'NR': 'elementare'})

In [28]:
print(df['ana:istruzione_1'].value_counts())

superiori     367
media         317
elementare    195
laurea         68
Name: ana:istruzione_1, dtype: int64

Save this cleaned dataset:

In [29]:
df.to_excel("df.xlsx")

NEW FILTERING

In [3]:
data_filter = pd.read_excel('PLIC_v1-4_plaque_filtered.xlsx')

In [4]:
new_col = [col for col in data_filter.columns if 'ana_pat:metabolic_syndrome' in col]

In [5]:
new_col.extend([col for col in data_filter.columns if 'ult_tsa' in col])

In [6]:
new_col.extend([col for col in data_filter.columns if 'ana_fis' in col])

In [7]:
new_col.extend([col for col in data_filter.columns if 'ana_phar' in col])

In [8]:
new_col.extend([col for col in data_filter.columns if 'esa_obi' in col])

In [9]:
new_col.extend([col for col in data_filter.columns if 'lab' in col])

In [10]:
new_col.extend([col for col in data_filter.columns if 'ana:istruzione' in col])

In [11]:
new_col.extend([col for col in data_filter.columns if 'ana:ana_età' in col])

In [12]:
new_col.extend(list(data_filter.columns[66:184])) #from "ana_pat:arteriopatia_aortica_remota_1_a" to "ana_pat:BPCO_4"

In [13]:
len(new_col)

338

In [14]:
new_col = [col for col in new_col if '_1' in col] #filter on visit 1

In [15]:
len(new_col)

71

In [16]:
new_col.append("ult_tsa:placca_tot")

In [17]:
new_col.append("ana:sesso_recod")

In [39]:
len(new_col)

73

In [18]:
new_col.extend([col for col in data_filter.columns if 'score_recod' in col])

In [19]:
new_col.append('ana_pat:evento_tot')

In [20]:
len(new_col)

78

In [21]:
data_newfilter=data_filter[new_col] #create the new subset

In [43]:
data_newfilter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947 entries, 0 to 946
Data columns (total 77 columns):
ana_pat:metabolic_syndrome_guidelines_1        916 non-null float64
ana_pat:metabolic_syndrome_non_guidelines_1    916 non-null float64
ult_tsa:U_TSA_data_1                           941 non-null datetime64[ns]
ult_tsa:IMT_CC_max_sx_1                        936 non-null float64
ult_tsa:IMT_CC_max_dx_1                        936 non-null float64
ult_tsa:IMT_CC_medio_round_sx_1                936 non-null float64
ult_tsa:IMT_CC_medio_round_dx_1                937 non-null float64
ult_tsa:IMT_CC_medio_round_mean_1              942 non-null float64
ult_tsa:placca_dx_recod_1                      947 non-null int64
ult_tsa:placca_sx_recod_1                      947 non-null int64
ult_tsa:placca_1                               947 non-null int64
ana_fis:menarca_1                              596 non-null float64
ana_fis:gravidanze_n_1                         568 non-null float64
ana_fis:menopausa_1                            397 non-null float64
ana_fis:menopausa_indotta_1                    377 non-null float64
ana_fis:fumo_recod_1                           947 non-null int64
ana_fis:attività_fisica_recod_1                946 non-null float64
ana_fis:alcol_recod_1                          947 non-null int64
ana_phar:ipotrigliceridemizzanti_1             947 non-null int64
ana_phar:terapia_farmacologica_1               947 non-null int64
ana_phar:antidislipidemici_1                   947 non-null int64
ana_phar:antipertensivi_1                      947 non-null int64
ana_phar:antidiabetici_1                       947 non-null int64
ana_phar:antiaggreganti_1                      947 non-null int64
esa_obi:peso_1                                 944 non-null float64
esa_obi:altezza_1                              945 non-null float64
esa_obi:BMI_calc_1                             944 non-null float64
esa_obi:vita_1                                 824 non-null float64
esa_obi:fianchi_1                              528 non-null float64
esa_obi:vita_fianchi_calc_1                    528 non-null float64
esa_obi:pas_1                                  947 non-null int64
esa_obi:pad_1                                  947 non-null int64
esa_obi:frequenza_cardiaca_1                   874 non-null float64
lab:CT_1                                       947 non-null int64
lab:HDL_1                                      947 non-null int64
lab:TG_1                                       947 non-null int64
lab:LDL_calc_1                                 947 non-null float64
lab:apoA1_1                                    690 non-null float64
lab:apoB_1                                     694 non-null float64
lab:glucosio_1                                 947 non-null int64
lab:non_HDL_c_1                                947 non-null int64
ana:istruzione_1                               947 non-null object
ana_pat:arteriopatia_aortica_remota_1_a        947 non-null int64
ana_pat:fibrillazione_atriale_1                947 non-null int64
ana_pat:aritmia_1                              947 non-null int64
ana_pat:IVS_1                                  947 non-null int64
ana_pat:scompenso_remota_1_a                   947 non-null int64
ana_pat:trombosi_venosa_1                      947 non-null int64
ana_pat:emorragia_cerebrale_1                  947 non-null int64
ana_pat:ipertensione_self_1                    947 non-null int64
ana_pat:ipertensione_self_data_1               88 non-null float64
ana_pat:obesità_self_1                         947 non-null int64
ana_pat:obesità_self_data_1                    3 non-null float64
ana_pat:dislipidemia_self_1                    936 non-null object
ana_pat:dislipidemie_self_data_1               121 non-null float64
ana_pat:xantomatosi_1                          947 non-null int64
ana_pat:nefropatie_NS_1                        947 non-null int64
ana_pat:nefropatie_tipo_1                      30 non-null object
ana_pat:nefropatie_data_1                      6 non-null float64
ana_pat:tiroide_patologie_text_1               22 non-null object
ana_pat:tiroide_funzionalità_1                 947 non-null object
ana_pat:tiroide_patologie_data_1               10 non-null float64
ana_pat:epatopatie_NS_1                        947 non-null int64
ana_pat:epatopatie_tipo_1                      58 non-null object
ana_pat:epatopatie_data_1                      3 non-null float64
ana_pat:steatosi_1                             947 non-null int64
ana_pat:colecistectomia_1                      947 non-null int64
ana_pat:colecistectomia_data_1                 10 non-null float64
ana_pat:pancreatopatia_1                       947 non-null int64
ana_pat:BPCO_1                                 947 non-null int64
ana_pat:BPCO_data_1                            0 non-null float64
ult_tsa:placca_tot                             947 non-null int64
ana:sesso_recod                                947 non-null int64
score_recod_1                                  947 non-null float64
score_recod_2                                  947 non-null float64
score_recod_3                                  947 non-null float64
score_recod_4                                  947 non-null float64
dtypes: datetime64[ns](1), float64(34), int64(36), object(6)
memory usage: 569.8+ KB

In [22]:
data_newfilter['ana:istruzione_1'] = data_newfilter['ana:istruzione_1'].fillna("NR")

C:\Users\tamar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
data_newfilter = data_newfilter[data_newfilter['ult_tsa:placca_dx_recod_1'].notna()]

In [24]:
data_newfilter = data_newfilter[data_newfilter['ult_tsa:placca_sx_recod_1'].notna()]

In [25]:
data_newfilter = data_newfilter[data_newfilter['ult_tsa:IMT_CC_medio_round_sx_1'].notna()]

In [26]:
data_newfilter = data_newfilter[data_newfilter['ult_tsa:IMT_CC_medio_round_dx_1'].notna()]

In [27]:
data_newfilter = data_newfilter[data_newfilter['ult_tsa:IMT_CC_medio_round_mean_1'].notna()]

In [28]:
perc = 80.0
min_count =  int(((100-perc)/100)*data_filter.shape[0] + 1)
data_newfilter = data_newfilter.dropna( axis=1, 
                thresh=min_count)

In [2]:
import pandas as pd
data_newfilter=pd.read_excel('data_newfilter.xlsx')

In [12]:
data_newfilter['ult_tsa:placca_dx_recod_1'].unique()

array([0], dtype=int64)

In [34]:
data_newfilter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 931 entries, 0 to 946
Data columns (total 65 columns):
ana_pat:metabolic_syndrome_guidelines_1        931 non-null float64
ana_pat:metabolic_syndrome_non_guidelines_1    931 non-null float64
ult_tsa:IMT_CC_max_sx_1                        931 non-null float64
ult_tsa:IMT_CC_max_dx_1                        931 non-null float64
ult_tsa:IMT_CC_medio_round_sx_1                931 non-null float64
ult_tsa:IMT_CC_medio_round_dx_1                931 non-null float64
ult_tsa:IMT_CC_medio_round_mean_1              931 non-null float64
ult_tsa:placca_dx_recod_1                      931 non-null int64
ult_tsa:placca_sx_recod_1                      931 non-null int64
ult_tsa:placca_1                               931 non-null int64
ana_fis:menarca_1                              931 non-null float64
ana_fis:gravidanze_n_1                         931 non-null float64
ana_fis:menopausa_1                            931 non-null float64
ana_fis:menopausa_indotta_1                    931 non-null float64
ana_fis:fumo_recod_1                           931 non-null int64
ana_fis:attività_fisica_recod_1                931 non-null float64
ana_fis:alcol_recod_1                          931 non-null int64
ana_phar:ipotrigliceridemizzanti_1             931 non-null int64
ana_phar:terapia_farmacologica_1               931 non-null int64
ana_phar:antidislipidemici_1                   931 non-null int64
ana_phar:antipertensivi_1                      931 non-null int64
ana_phar:antiaggreganti_1                      931 non-null int64
esa_obi:peso_1                                 931 non-null float64
esa_obi:altezza_1                              931 non-null float64
esa_obi:BMI_calc_1                             931 non-null float64
esa_obi:vita_1                                 931 non-null float64
esa_obi:fianchi_1                              931 non-null float64
esa_obi:vita_fianchi_calc_1                    931 non-null float64
esa_obi:pas_1                                  931 non-null int64
esa_obi:pad_1                                  931 non-null int64
esa_obi:frequenza_cardiaca_1                   931 non-null float64
lab:CT_1                                       931 non-null int64
lab:HDL_1                                      931 non-null int64
lab:TG_1                                       931 non-null int64
lab:LDL_calc_1                                 931 non-null float64
lab:apoA1_1                                    931 non-null float64
lab:apoB_1                                     931 non-null float64
lab:glucosio_1                                 931 non-null int64
lab:non_HDL_c_1                                931 non-null int64
ana:istruzione_1                               931 non-null object
ana_pat:arteriopatia_aortica_remota_1_a        931 non-null int64
ana_pat:fibrillazione_atriale_1                931 non-null int64
ana_pat:aritmia_1                              931 non-null int64
ana_pat:IVS_1                                  931 non-null int64
ana_pat:scompenso_remota_1_a                   931 non-null int64
ana_pat:trombosi_venosa_1                      931 non-null int64
ana_pat:emorragia_cerebrale_1                  931 non-null int64
ana_pat:ipertensione_self_1                    931 non-null int64
ana_pat:obesità_self_1                         931 non-null int64
ana_pat:dislipidemia_self_1                    920 non-null object
ana_pat:xantomatosi_1                          931 non-null int64
ana_pat:nefropatie_NS_1                        931 non-null int64
ana_pat:tiroide_funzionalità_1                 931 non-null object
ana_pat:epatopatie_NS_1                        931 non-null int64
ana_pat:steatosi_1                             931 non-null int64
ana_pat:colecistectomia_1                      931 non-null int64
ana_pat:pancreatopatia_1                       931 non-null int64
ana_pat:BPCO_1                                 931 non-null int64
ult_tsa:placca_tot                             931 non-null int64
ana:sesso_recod                                931 non-null int64
score_recod_1                                  931 non-null float64
score_recod_2                                  931 non-null float64
score_recod_3                                  931 non-null float64
score_recod_4                                  931 non-null float64
ana_pat:evento_tot                             931 non-null int64
dtypes: float64(26), int64(36), object(3)
memory usage: 480.0+ KB

In [30]:
data_newfilter = data_newfilter.drop(["ult_tsa:U_TSA_data_1", "ana_phar:antidiabetici_1"], axis=1)

In [31]:
data_newfilter=data_newfilter.fillna(data_newfilter.median())

In [32]:
data_newfilter.isnull().sum() #ok

ana_pat:metabolic_syndrome_guidelines_1        0
ana_pat:metabolic_syndrome_non_guidelines_1    0
ult_tsa:IMT_CC_max_sx_1                        0
ult_tsa:IMT_CC_max_dx_1                        0
ult_tsa:IMT_CC_medio_round_sx_1                0
                                              ..
score_recod_1                                  0
score_recod_2                                  0
score_recod_3                                  0
score_recod_4                                  0
ana_pat:evento_tot                             0
Length: 65, dtype: int64

In [35]:
data_newfilter.to_excel("data_newfilter.xlsx") #save this new filtered dataset